@using System.Reflection

@inject IOptionsSnapshot<BlogSettings> settings
@inject IBlogService service

@functions {
    private static string GetVersion(Assembly assembly)
    {
        var version = assembly
            .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
            .InformationalVersion
            .ToString();

        var plusIndex = version.LastIndexOf('+');

        if (plusIndex > 0 && plusIndex + 11 <= version.Length)
        {
            version = version.Substring(0, plusIndex + 11);
        }

        return "v" + version;
    }
}

@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;

    var buildVersion = GetVersion(Assembly.GetEntryAssembly());
    var runtimeVersion = GetVersion(Assembly.GetCallingAssembly());
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <meta name="description" content="@ViewData["Description"]" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/abovethefold.scss" inline />
    <script type="text/javascript">
        !function (T, l, y) { var S = T.location, u = "script", k = "instrumentationKey", D = "ingestionendpoint", C = "disableExceptionTracking", E = "ai.device.", I = "toLowerCase", b = "crossOrigin", w = "POST", e = "appInsightsSDK", t = y.name || "appInsights"; (y.name || T[e]) && (T[e] = t); var n = T[t] || function (d) { var g = !1, f = !1, m = { initialize: !0, queue: [], sv: "4", version: 2, config: d }; function v(e, t) { var n = {}, a = "Browser"; return n[E + "id"] = a[I](), n[E + "type"] = a, n["ai.operation.name"] = S && S.pathname || "_unknown_", n["ai.internal.sdkVersion"] = "javascript:snippet_" + (m.sv || m.version), { time: function () { var e = new Date; function t(e) { var t = "" + e; return 1 === t.length && (t = "0" + t), t } return e.getUTCFullYear() + "-" + t(1 + e.getUTCMonth()) + "-" + t(e.getUTCDate()) + "T" + t(e.getUTCHours()) + ":" + t(e.getUTCMinutes()) + ":" + t(e.getUTCSeconds()) + "." + ((e.getUTCMilliseconds() / 1e3).toFixed(3) + "").slice(2, 5) + "Z" }(), iKey: e, name: "Microsoft.ApplicationInsights." + e.replace(/-/g, "") + "." + t, sampleRate: 100, tags: n, data: { baseData: { ver: 2 } } } } var h = d.url || y.src; if (h) { function a(e) { var t, n, a, i, r, o, s, c, p, l, u; g = !0, m.queue = [], f || (f = !0, t = h, s = function () { var e = {}, t = d.connectionString; if (t) for (var n = t.split(";"), a = 0; a < n.length; a++) { var i = n[a].split("="); 2 === i.length && (e[i[0][I]()] = i[1]) } if (!e[D]) { var r = e.endpointsuffix, o = r ? e.location : null; e[D] = "https://" + (o ? o + "." : "") + "dc." + (r || "services.visualstudio.com") } return e }(), c = s[k] || d[k] || "", p = s[D], l = p ? p + "/v2/track" : config.endpointUrl, (u = []).push((n = "SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details)", a = t, i = l, (o = (r = v(c, "Exception")).data).baseType = "ExceptionData", o.baseData.exceptions = [{ typeName: "SDKLoadFailed", message: n.replace(/\./g, "-"), hasFullStack: !1, stack: n + "\nSnippet failed to load [" + a + "] -- Telemetry is disabled\nHelp Link: https://go.microsoft.com/fwlink/?linkid=2128109\nHost: " + (S && S.pathname || "_unknown_") + "\nEndpoint: " + i, parsedStack: [] }], r)), u.push(function (e, t, n, a) { var i = v(c, "Message"), r = i.data; r.baseType = "MessageData"; var o = r.baseData; return o.message = 'AI (Internal): 99 message:"' + ("SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details) (" + n + ")").replace(/\"/g, "") + '"', o.properties = { endpoint: a }, i }(0, 0, t, l)), function (e, t) { if (JSON) { var n = T.fetch; if (n && !y.useXhr) n(t, { method: w, body: JSON.stringify(e), mode: "cors" }); else if (XMLHttpRequest) { var a = new XMLHttpRequest; a.open(w, t), a.setRequestHeader("Content-type", "application/json"), a.send(JSON.stringify(e)) } } }(u, l)) } function i(e, t) { f || setTimeout(function () { !t && m.core || a() }, 500) } var e = function () { var n = l.createElement(u); n.src = h; var e = y[b]; return !e && "" !== e || "undefined" == n[b] || (n[b] = e), n.onload = i, n.onerror = a, n.onreadystatechange = function (e, t) { "loaded" !== n.readyState && "complete" !== n.readyState || i(0, t) }, n }(); y.ld < 0 ? l.getElementsByTagName("head")[0].appendChild(e) : setTimeout(function () { l.getElementsByTagName(u)[0].parentNode.appendChild(e) }, y.ld || 0) } try { m.cookie = l.cookie } catch (p) { } function t(e) { for (; e.length;)!function (t) { m[t] = function () { var e = arguments; g || m.queue.push(function () { m[t].apply(m, e) }) } }(e.pop()) } var n = "track", r = "TrackPage", o = "TrackEvent"; t([n + "Event", n + "PageView", n + "Exception", n + "Trace", n + "DependencyData", n + "Metric", n + "PageViewPerformance", "start" + r, "stop" + r, "start" + o, "stop" + o, "addTelemetryInitializer", "setAuthenticatedUserContext", "clearAuthenticatedUserContext", "flush"]), m.SeverityLevel = { Verbose: 0, Information: 1, Warning: 2, Error: 3, Critical: 4 }; var s = (d.extensionConfig || {}).ApplicationInsightsAnalytics || {}; if (!0 !== d[C] && !0 !== s[C]) { method = "onerror", t(["_" + method]); var c = T[method]; T[method] = function (e, t, n, a, i) { var r = c && c(e, t, n, a, i); return !0 !== r && m["_" + method]({ message: e, url: t, lineNumber: n, columnNumber: a, error: i }), r }, d.autoExceptionInstrumented = !0 } return m }(y.cfg); (T[t] = n).queue && 0 === n.queue.length && n.trackPageView({}) }(window, document, {
            src: "https://az416426.vo.msecnd.net/scripts/b/ai.2.min.js",
            cfg: {
                instrumentationKey: "ad765eee-77f7-4967-9d64-e6108b3816ab"
            }
        });

        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        }
        )(window, document, "clarity", "script", "4a02btbfmu");
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S178XX1DGC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-S178XX1DGC');
    </script>
    @RenderSection("Head", required: false)

    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@(host + Context.Request.Path)" />
    <meta property="og:image" content="@host/img/icon180x180.png" />
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="180" />
    <partial name="MetaSection" />

    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/icon180x180.png" />
    <link rel="shortcut icon" href="/img/icon16x16.png" />

    <meta name="msapplication-square150x150logo" content="/img/icon180x180.png" />
    <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
    <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" />
    <link rel="search" href="~/search" />
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPB5KN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <header class="siteheader">
        <div class="container">
            <div class="header-search">
                <a href="/search">Search</a> |
                <a href="/feed/rss">Feed</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <span>| <a href="/manage/">Manage</a></span>
                }
            </div>
            <p itemprop="name"><a href="~/">@settings.Value.Name</a></p>
            By <a href="/steve" class="author"><span itemprop="author">@settings.Value.Owner</span></a>
        </div>
    </header>

    <main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
        <noscript>
            <p class="container">Some features of this website do not work as expected when JavaScript is disabled</p>
        </noscript>
        @RenderBody()
    </main>

    <footer class="sitefooter">
        <div class="container">
            <nav>

                <div class="copyright">Copyright &copy; @DateTimeOffset.UtcNow.Year Steve Syfuhs</div>

                <ul>
                    <li class="categories">
                        <h3>Categories</h3>
                        <ul>
                            @foreach (var cat in await service.GetCategories())
                            {
                                <li>
                                    <a href="/category/@cat.Category">@cat.Category <span class="cat-count">@cat.Count</span></a>
                                </li>
                            }
                        </ul>
                    </li>

                    <li class="categories">
                        <h3>Build Details</h3>

                        <ul>
                            <li class="build-version">
                                <table>
                                    <tr>
                                        <td>Blog:</td>
                                        <td><span class="cat-count">@buildVersion</span></td>
                                    </tr>
                                    <tr>
                                        <td>Runtime:</td>
                                        <td><span class="cat-count">@runtimeVersion</span></td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </li>

                    <li class="categories">
                    </li>

                    <li class="categories">
                        <h3>Actions</h3>

                        <ul class="signin">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-controller="Blog" asp-action="Edit">New post</a></li>

                                    <li><a href="~/logout/" title="Sign out as administrator">Sign out</a></li>
                                    <li><a href="~/account/status" title="View sign in status">Sign In Status</a></li>
                                }
                                else
                                {
                                    <li>
                                        <a href="~/login/?returnUrl=@Context.Request.Path" rel="nofollow" title="Sign in as administrator">Sign in</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js" async defer></script>
    <script src="https://cdn.commento.io/js/count.js"></script>
    <link rel="stylesheet" href="~/css/belowthefold.scss" />
</body>
</html>
