@model SearchResults
@inject IOptionsSnapshot<BlogSettings> settings

@functions {
    private static string Pluralize(string singular, string plural, bool condition)
    {
        if (condition)
        {
            return singular;
        }
        else
        {
            return plural;
        }
    }
}

<nav class="container search-page">

    <form action="/search" method="get">
        <input class="searchbox" type="search" name="q" value="@Model?.Query" placeholder="Search..." maxlength="100" autofocus />
    </form>

    @if (Model != null)
    {
        <div class="search-results">

            <h1>@Model.Results Search @Pluralize("Result", "Results", Model.Results == 1) for @Model.Query</h1>

            <ul class="results-list">
                @foreach (var post in Model.Posts)
                {
                    <li data-weight="@post.Key">
                        <a href="@post.Value.GetLink()">@post.Value.Title</a>
                        <div>@Html.Raw(post.Value.Excerpt.Substring(0, post.Value.Excerpt.Length > 200 ? 200 : post.Value.Excerpt.Length))...</div>
                    </li>
                }
            </ul>
        </div>

        @if (!string.IsNullOrWhiteSpace(ViewData["prev"] as string))
        {
            <a rel="prev" href="@ViewData["prev"]" title="Older posts">&laquo; Back</a>
        }

        @if (Model.Page > 0)
        {
            <a rel="next" href="@ViewData["next"]" title="Newer posts">Forward &raquo;</a>
        }

        @section Head {
            @if (!string.IsNullOrWhiteSpace(ViewData["prev"] as string))
            {
                <link rel="prev" href="@ViewData["prev"]" />
            }
            @if (Model.Page > 0)
            {
                <link rel="next" href="@ViewData["next"]" />
            }
        }
    }
</nav>