@model ImagesModel
@inject BlogSettings settings

@functions {
    private static string ExtractFolder(string url)
    {
        var lastIndex = url.LastIndexOf('/');

        return url.Substring(0, lastIndex);
    }
}

@section Head{
    <link rel="stylesheet" href="~/css/admin.scss" />
}

<form enctype="multipart/form-data" method="post">
    <dl class="upload-file">
        <dt>
            Upload <label asp-for="FormFiles"></label>
        </dt>
        <dd>
            <input asp-for="FormFiles" type="file" multiple />
            <span asp-validation-for="FormFiles"></span>
        </dd>

        <dt>
            <label asp-for="UploadFolder"></label>
        </dt>
        <dd>
            <span asp-validation-for="UploadFolder"></span>
            <input asp-for="UploadFolder" />
        </dd>

        <dt>
            <input class="btn btn-primary" type="submit" value="Upload" />
        </dt>
        <dd>
            <ul class="preview image-list">
                <li>
                    <p>No files currently selected for upload</p>
                </li>
            </ul>
        </dd>
    </dl>
</form>


<script>
    const fileTypes = [
        "image/apng",
        "image/bmp",
        "image/gif",
        "image/jpeg",
        "image/pjpeg",
        "image/png",
        "image/svg+xml",
        "image/tiff",
        "image/webp",
        "image/x-icon"
    ];

    function validFileType(file) {
        return fileTypes.includes(file.type);
    }

    function returnFileSize(number) {
        if (number < 1024) {
            return number + 'bytes';
        } else if (number >= 1024 && number < 1048576) {
            return (number / 1024).toFixed(1) + 'kb';
        } else if (number >= 1048576) {
            return (number / 1048576).toFixed(1) + 'mb';
        }
    }

    function updateImageDisplay() {
        while (preview.firstChild) {
            preview.removeChild(preview.firstChild);
        }

        const curFiles = input.files;
        if (curFiles.length === 0) {
            const para = document.createElement('li');
            para.textContent = 'No files currently selected for upload';
            preview.appendChild(para);
        } else {
            const list = document.createElement('ol');
            //list.className = "image-list";
            preview.appendChild(list);

            for (const file of curFiles) {
                const listItem = document.createElement('li');
                const para = document.createElement('p');
                if (validFileType(file)) {
                    para.textContent = `${file.name}; Size ${returnFileSize(file.size)}`;
                    const image = document.createElement('img');
                    image.src = URL.createObjectURL(file);
                    image.className = "img-upload-preview";

                    listItem.appendChild(image);
                    listItem.appendChild(para);
                } else {
                    para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
                    listItem.appendChild(para);
                }

                list.appendChild(listItem);
            }
        }
    }

    const input = document.querySelector('input');
    const preview = document.querySelector('.preview');

    input.addEventListener('change', updateImageDisplay);

    function deleteImage(x) {
        var element = event.target.parentElement;

        if (event.target.localName === 'a') {
            element = element.parentElement;
        }

        fetch('/edit/images?url=' + encodeURI(x), {
            method: "DELETE"
        }).then(_ => {
            element.parentElement.removeChild(element);

        });
    }

    function toggle() {
        var element = event.target;

        element.nextElementSibling.classList.toggle('slide-hidden');
    }

    function toggleAll() {
        var elements = document.getElementsByTagName("h3");

        for (let el of elements) {
            el.click();
        }
    }
</script>


<ul class="image-list">
    <li>
        <button class="btn btn-primary" onclick="toggleAll()">Toggle All</button>
    </li>

    @foreach (var folder in Model.Images.GroupBy(i => ExtractFolder(i.Url)).OrderByDescending(e => e.Key))
    {
        <li>
            <h3 onclick="toggle()">@folder.Key</h3>
            <ul>
                @foreach (var image in folder.OrderByDescending(f => f.Created).ThenBy(f => f.Title))
                {
                    <li>
                        <a href="@image.Url" target="_blank" id="#@image.Id">
                            <img src="#" data-src="@image.Url" class="lib-image" />
                        </a>
                        <div class="delete-image" onclick="deleteImage('@image.Url')">
                            <a>X</a>
                        </div>

                        <div>
                            <code>@image.Url.Substring(folder.Key.Length + 1)</code> | @image.Created.ToString("g")
                            <button class="btn btn-link" onclick="navigator.clipboard.writeText('@image.Url')">Copy</button>
                        </div>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

<script>
    var elements = document.getElementsByClassName('lib-image');

    for (let element of elements) {
        element.addEventListener('delayLoaded', function (e) {
            var img = new Image();
            img.onload = function () {
                var div = document.createElement('div');
                div.innerText = this.width + " x " + this.height + " pixels";
                e.target.parentElement.parentElement.appendChild(div);
            };

            img.src = e.target.getAttribute('data-src');
        });
    }
</script>