@model IEnumerable<Post>
@inject BlogSettings settings
@{
    int currentPage = int.Parse(ViewContext.RouteData.Values["page"] as string ?? "0");
    bool includeTitle = ViewData.ContainsKey("IncludeTitle") && (bool)ViewData["IncludeTitle"];
}

@if (includeTitle)
{
    <div class="post">
        <header class="no-media">
            <div class="">
                <h1>@ViewData["Title"]</h1>
            </div>
        </header>
    </div>
}

@foreach (var post in Model)
{
    await Html.RenderPartialAsync("Post.cshtml", post);
}

<nav class="pagination container" aria-label="Pagination">
    @if (!string.IsNullOrWhiteSpace(ViewData["prev"] as string))
    {
        <a rel="prev" href="@ViewData["prev"]" title="Older posts">&laquo; Older</a>
    }

    @if (currentPage > 0)
    {
        <a rel="next" href="@ViewData["next"]" title="Newer posts">Newer &raquo;</a>
    }

    @section Head {
        @if (!string.IsNullOrWhiteSpace(ViewData["prev"] as string))
        {
            <link rel="prev" href="@ViewData["prev"]" />
        }
        @if (currentPage > 0)
        {
            <link rel="next" href="@ViewData["next"]" />
        }
    }
</nav>

@{await Html.RenderPartialAsync("_SocialSharing", ViewData["Title"]);}
